* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  /* color: var(--surface-600); */
}

.form-height {
  height: calc(100dvh - 200px);
}

a {
  color: var(--primary-500);
  text-decoration: none;
}

.blur {
  background-color: #ffffff60;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.text-muted {
  color: var(--surface-500);
}